.productcard {
  width: 400px;
height: 585px;
border-radius: 8px;
background: #FFF;
box-shadow: 4px 4px 20px -10px rgba(0, 0, 0, 0.25);
.productcard-img {
  height: 266px;
  width: 100%;
}
.productcard-title {
  padding: 17px 0 0 33px;
  color: rgba(0, 0, 0, 0.60);


font-family: Raleway;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.productcard-quant {
  color: #5E5E5F;
  padding: 5px 0 0 33px;

font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.subtitle-border {
  padding: 0px 0 0 33px;
  width: 330px;
  .productcard-subtitle{
    border-top: 2px solid rgba(255, 165, 0, 0.86); /* Граница сверху */
    border-bottom: 2px solid rgba(255, 165, 0, 0.86); /* Граница снизу */
    padding: 10px 0;
    color: #5E5E5F;

font-family: Raleway;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
}

.productcard-btn {
  padding: 5px 0 0 33px;
  button {
    width: 159px;
    height: 40.529px;
  }

}
}