.about {
  display: flex;
  justify-content: center;
  gap: 20px;

  .about-card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 4px 4px 64px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 352px;

    // padding: 20px;
    .about-card-title {
      text-align: center;
      font-family: Raleway;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .about-card-subtitle {
      width: 460px;
      color: rgba(0, 0, 0, 0.60);

      text-align: center;
      font-family: Raleway;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

    }
  }

  .about-card:hover {
    border-radius: 5px;
    border: 1px solid rgba(255, 165, 0, 0.50);
    background: #FFF;
    box-shadow: 0px 0px 0px 0px rgba(255, 210, 46, 0.10) inset, -1px 6px 13px 0px rgba(255, 210, 46, 0.10) inset, -3px 24px 24px 0px rgba(255, 210, 46, 0.09) inset, -6px 54px 32px 0px rgba(255, 210, 46, 0.05) inset, -11px 95px 38px 0px rgba(255, 210, 46, 0.01) inset, -17px 149px 42px 0px rgba(255, 210, 46, 0.00) inset;
  }
}