.header{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0 10px 0 ;
  .header-logo{}
  .header-title{
    display: flex;
    gap: 90px;
    font-family: Raleway;
    font-size: 19px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }
  .header-search{
    input {
    width: 268px;

    }
  }
  .header-net{
    display: flex;
    gap: 13px;
    .net-icon {
      width: 32px;
      height: 32px;
    }
  }
  .header-crat{

  }
}