.footer {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  .footer-net {
    text-align: center;
    // display: flex;
    .net-icons{
      display: flex;
      justify-content: center;
      gap: 5px;
    }
    .footer-net-btn{
      width: 204px;
height: 52px;
    }
  }
}